# Secrets
moodwave-backend/.env
moodwave-backend/firebase-credentials.json

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Flutter / Dart
diplom-frontend/.dart_tool/
diplom-frontend/build/
diplom-frontend/.flutter-plugins
diplom-frontend/.flutter-plugins-dependencies
diplom-frontend/.packages

# IDE
.idea/
.vscode/
*.iml
